@font-face {
  font-family: "Roboto";
  src: url("fonts/Roboto-Regular.woff2") format("woff2"),
       url("fonts/Roboto-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template: auto 1fr / 20rem 1fr;
  grid-template-areas: 
    "sidebar header"
    "sidebar content";
  height: 100vh;
  font-family: "Roboto", serif;
}

header {
  display: grid;
  grid-template-columns: minmax(15rem, 70rem) auto;
  align-items: center;
  gap: 1rem;
  grid-area: header;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1;
  padding: 1rem 3rem;
}

.search-container {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1rem;
}

.icon-button {
  width: 1.75rem;
  border: none;
  background-color: white;
}

input[type="search"] {
  min-width: 0;
  font-size: 1.25rem;
  padding: 0.2rem 1rem;
  border-style: solid;
  border-color: #E1E7EF;
  background-color: #E1E7EF;
  border-radius: 1rem;
}

.user-controls {
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.profile-icon-small {
  width: 3rem;
  border-radius: 50%;
}

.user-name {
  font-size: 1.2rem;
  font-weight: bold;
}

.user-greeting {
  display: grid;
  grid-template-areas:
    "profile-pic greeting"
    "profile-pic user-handle";
  gap: 0.5rem 1rem;
  justify-content: start;
}

.profile-icon-large {
  grid-area: profile-pic;
  width: 5rem;
  border-radius: 50%;
}

.greeting {
  grid-area: greeting;
  align-self: end;
  font-weight: bold;
}

.user-name-handle {
  grid-area: user-handle;
  font-size: 1.5rem;
  font-weight: bold;
}

.dashboard-actions {
  display: grid;
  grid-template-columns: repeat(3, minmax(6rem, 1fr));
  gap: 1.5rem;
}

.dashboard-actions button {
  padding: 0.6rem;
  font-size: inherit;
  font-weight: bold;
  color: white;
  border-style: solid;
  border-color: #0091D0;
  border-radius: 2rem;
  background-color: #0091D0;
}

.sidebar {
  grid-area: sidebar;
  background-color: #0091D0;
}

.sidebar-brand {
  display: grid;
  grid-template-columns: repeat(2, min-content);
  align-items: center;
  gap: 1.25rem;
  margin: 1rem 0 2.5rem 1rem;
}

.dashboard-icon {
  fill: white;
  width: 3rem;
}

.dashboard-label {
  font-size: 1.75rem;
  color: white;
}

.sidebar nav:first-of-type {
  margin-bottom: 3.5rem;
}

.nav-link {
  display: grid;
  grid-template-columns: repeat(2, min-content);
  align-items: center;
  gap: 1.5rem;
  text-decoration: none;
  padding: 0.75rem 2rem;
  background-color: #0091D0;
  transition: background-color 0.1s ease;
}

.nav-link:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.nav-link:active {
  background-color: rgba(0, 0, 0, 0.4);
}

.nav-icon {
  fill: white;
  width: 1.5rem;
}

.nav-label {
  font-size: 1.4rem;
  font-weight: bold;
  color: white;
}

.content {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: start;
  column-gap: 2rem;
  grid-area: content;
  background-color: #E1E7EF;
  padding: 2rem 1.5rem;
}

.content-section {
  display: grid;
  grid-template-rows: min-content auto;
  row-gap: 0.5rem;
}

h2 {
  font-size: 1.3rem;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  grid-auto-rows: 14rem;
  justify-content: start;
  gap: 2rem;
}

.project-card {
  background: white;
  border-left: 0.5rem solid #F4A300;
  border-radius: 0.5rem;
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.1);
}

.side-column {
  display: grid;
  grid-template-rows: auto auto;
  row-gap: 2rem;
}

.content-box {
  width: 18rem;
  height: 20rem;
  background: white;
  border-radius: 0.5rem;
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.1);
}